<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
	 <link href="../plugins/bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js">  </script>
    <!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<link rel="stylesheet" href="../libs/bootstrap.min.css">
	<link rel="stylesheet" href="../libs/jquery.min.js">
	<!-- 分页组件结束 -->

<script type="text/javascript" src="../js/base.js"></script>
<script type="text/javascript" src="../js/service/seckillService.js"></script>
<script type="text/javascript" src="../js/service/uploadService.js"></script>

	
</script>
<script type="text/javascript" src="../js/controller/seckillController.js">
	
</script>

</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="seckillController" ng-init="findAll()">
	
	<div class="box-header with-border">
		<h3 class="box-title">管理</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="新建"
							data-toggle="modal" data-target="#editModal" ng-click="entity={}">
							<i class="fa fa-file-o"></i> 新建
						</button>
						<button type="button" class="btn btn-default" title="删除"
							ng-click="dele()">
							<i class="fa fa-trash-o"></i> 删除
						</button>
						<button type="button" class="btn btn-default" title="刷新"
							onclick="window.location.reload();">
							<i class="fa fa-refresh"></i> 刷新
						</button>
					</div>
				</div>
			</div>
			<div class="box-tools pull-right">
				<div class="has-feedback"></div>
			</div>
			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="" style="padding-right: 0px"><input id="selall"
							type="checkbox" class="icheckbox_square-blue"></th>
						<th class="sorting">秒杀商品ID</th>
						<th class="sorting">秒杀商品编号</th>
						<th class="sorting">标题</th>
						<th class="sorting">原价格</th>
						<th class="sorting">秒杀价格</th>
						<th class="sorting">商家ID</th>
						<th class="sorting">添加日期</th>
						<th class="sorting">审核日期</th>
						<th class="sorting">审核状态</th>
						<th class="sorting">开始时间</th>
						<th class="sorting">结束时间</th>
						<th class="sorting">秒杀商品数</th>
						<th class="sorting">剩余库存数</th>
						<th class="sorting">商品图片</th>
						
						<th class="sorting">描述</th>

						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody >
					<tr ng-repeat="pojo in list">
						<td><input type="checkbox" ng-click="updateSelection($event,entity.id)"></td>
						<td>{{pojo.id}}</td>
						<td>{{pojo.goodsId}}</td>
						<td>{{pojo.title}}</td>
						<td>{{pojo.price}}</td>
						<td>{{pojo.costPrice}}</td>
						<td>{{pojo.sellerId}}</td>
						<td>{{pojo.createTime}}</td>
						<td>{{pojo.checkTime}}</td>
						<td>{{pojo.status}}</td>
						<td>{{pojo.startTime}}</td>
						<td>{{pojo.endTime}}</td>
						<td>{{pojo.num}}</td>
						<td>{{pojo.stockCount}}</td>
						<td><img style="width: 100px;height: 100px" src="{{pojo.smallPic}}"></td>
						<td>{{pojo.introduction}}</td>
 
						<td class="text-center">
							<button type="button" class="btn bg-olive btn-xs"
								data-toggle="modal" data-target="#editModal"
								ng-click="findOne(entity.id)">修改</button>
						</td>
					</tr>
					
				</tbody>
			</table>
			<!--数据列表/-->
		</div>
		
		<!-- 分页 -->
		<tm-pagination conf="paginationConf"></tm-pagination>
	</div>
	<!-- /.box-body -->

	<!-- 编辑窗口 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">编辑</h3>
				</div>
				<div class="modal-body">
					<table class="table table-bordered table-striped" width="800px" >
						<tr>
							<td>标题</td>
							<td><input class="form-control" ng-model="entity.title"
								placeholder="标题"></td>

						</tr>
						<tr>
							<td>商品图片</td>
							<td><input class="form-control" ng-model="entity.smallPic"
								placeholder="商品图片"></td>
 								<td><button type="button" class="btn btn-default" title="添加" ng-click="image={url:''}" data-target="#uploadModal"  data-toggle="modal" ><i class="fa fa-file-o"></i> 添加</button></td>
						</tr>
						<tr>

							<td>原价格</td>

							<td><input class="form-control" ng-model="entity.price"
								placeholder="原价格"></td>

						</tr>
						<tr>

							<td>秒杀价格</td>

							<td><input class="form-control" ng-model="entity.costPrice"
								placeholder="秒杀价格"></td>

						</tr>
						<tr>

							<td>商家ID</td>

							<td><input class="form-control" ng-model="entity.sellerId"
								placeholder="商家ID"></td>

						</tr>
						<tr>
							<td>开始时间</td>

							<td><div class="input-group date form_date col-md-5" data-date=""
									data-date-format="yyyy-mm-dd" data-link-field="startTime"
									data-link-format="yyyy-mm-dd">
									<input class="form-control" type="text" ng-model="entity.startTime" >
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-calendar"></span></span>
								</div> <input id="startTime" type="hidden" class="form-control"
								 placeholder="开始时间"></td>
						</tr>
			          <tr>
					<td>结束时间</td>

                             <td>
							   <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="endTime" data-link-format="yyyy-mm-dd">
								<input class="form-control"  type="text" ng-model="entity.endTime">
                    
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							   </div>
							 <input id="endTime" type="hidden" class="form-control"  placeholder="结束时间" >
							 
							 
							 </td>

                        </tr>		
						<tr>

							<td>秒杀商品数量</td>

							<td><input class="form-control" ng-model="entity.num"
								placeholder="秒杀商品数"></td>

						</tr>
						<tr>

							<td>剩余库存数量</td>

							<td><input class="form-control" ng-model="entity.stockCount"
								placeholder="剩余库存数"></td>

						</tr>
						<tr>
							<td>描述</td>

							<td><input class="form-control"
								ng-model="entity.introduction" placeholder="描述"></td>

						</tr>

					</table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-dismiss="modal"
						aria-hidden="true" ng-click="save()">保存</button>
					<button class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 上传窗口 -->
	<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">上传商品图片</h3>
		</div>
		<div class="modal-body">							
			<table class="table table-bordered table-striped">
		      	<tr>
		      		<td>商品图片</td>
		      		<td>
						<table>
							<tr>
								<td>
								<input type="file" id="file" />				                
					                <button ng-click="uploadFile()" class="btn btn-primary" type="button" >
				                   		上传
					                </button>	
					            </td>
								<td>
									<img  src="{{image.url}}" width="200px" height="200px">
								</td>
							</tr>						
						</table>
		      		</td>
		      	</tr>		      	
			 </table>				
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success"  data-dismiss="modal" ng-click="addItemImages()" aria-hidden="true">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
	
	
	<script type="text/javascript"
		src="../plugins/bootstrap/js/bootstrap-datetimepicker.js"
		charset="UTF-8"></script>
	<script type="text/javascript"
		src="../plugins/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"
		charset="UTF-8"></script>
	<script type="text/javascript">
		$('.form_date').datetimepicker({
			weekStart : 1,
			todayBtn : 1,
			autoclose : 1,
			todayHighlight : 1,
			startView : 2,
			minView : 2,
			forceParse : 0
		});
	</script>
	

</body>
</html>
